version: '2'
services:
  # server:
  #   build: ./docker/nginx
  #   ports:
  #     - '80:80'
  #   depends_on:
  #     - web
  #   links:
  #     - web
  mysql:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
  redis:
    image: redis:latest
    ports:
      - 6379:6379
  node:
    build:
      context: ./
      dockerfile: ./docker/node/Dockerfile
    volumes:
      - ./package.json:/app/package.json
      - ./public/assets:/app/public/assets
      - ./yarn.lock:/app/yarn.lock
      - node_modules:/app/node_modules
  rails:
    build:
      context: .
      dockerfile: ./docker/rails/Dockerfile
    # command: bundle exec rails s -p 3000 -b '0.0.0.0'
    command: bundle exec unicorn -c config/unicorn.rb -p 3000
    ports:
      - '3000:3000'
    volumes:
      - ./app:/app/app
      - ./bin:/app/bin
      - ./config:/app/config
      - ./config.ru:/app/config.ru
      - ./db:/app/db
      - ./Gemfile:/app/Gemfile
      - ./Gemfile.lock:/app/Gemfile.lock
      - ./lib:/app/lib
      - ./log:/app/log
      - ./public:/app/public
      - ./Rakefile:/app/Rakefile
      - ./scripts:/app/scripts
      - bundle:/bundle
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASS=root
      - DB_NAME=myapp_development:$PATH
    restart: always
volumes:
  mysql-data:
  bundle:
  node_modules:
